page-home {
    #ionball {
        position: absolute;
        bottom: 30px;
        left: calc(50% - 60px);
        width: 140px;
        height: 140px;
    }
    #pokemon {
        position: absolute;
        bottom: 40%;
        left: calc(50% - 126px);
    }
    #overlay,
    #webgl {
        position: absolute;
        top: 0px;
        left: 0px;
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        -ms-filter: fliph;
        /*IE*/
        filter: fliph;
        /*IE*/
    }
    #videoel {
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        -ms-filter: fliph;
        /*IE*/
        filter: fliph;
        /*IE*/
    }
    .masks {
        display: none;
    }
    .nogum {
        display: none;
    }
    .hide {
        display: none;
    }
    .nohide {
        display: block;
    }
    video {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
    }
    .grid {
        padding: 0px;
    }
    .col {
        padding: 0px;
    }
}